## 4.1 변수

In [1]:
12340 * 1/2

6170.0

In [2]:
12340 * 1/4

3085.0

In [3]:
abc = 12340
print(abc)

12340

In [4]:
abc

12340

In [5]:
print(abc * 1/2)
print(abc * 1/4)
print(abc * 1/5)

6170.0
3085.0
2468.0

## 4.2 문자열

### 4.2.1 문자열 만들기

In [6]:
print("String Test")
print('String Test')

String Test
String Test

In [7]:
string1 = "String Test 1"
string2 = 'String Test 2'
print(string1)
print(string2)

String Test 1
String Test 2

In [8]:
type(string1)

str

In [9]:
type(string2)

str

In [10]:
string3 = 'This is a "double" quotation test'
string4 = "This is a 'single' quotation test"
print(string3)
print(string4)

This is a "double" quotation test
This is a 'single' quotation test

In [11]:
long_string1 = '''[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다. 큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.'''
long_string2 = """[삼중 큰따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다. 큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다."""
print(long_string1)
print(long_string2)

[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다. 큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.
[삼중 큰따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다. 큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.

### 4.2.2 문자열 다루기

In [12]:
a = 'Enjoy ' 
b = 'python!' 
c= a + b
print(c)
print(a*3)

Enjoy python!
Enjoy Enjoy Enjoy

## 4.3 리스트

### 4.3.1 리스트 만들기

In [13]:
# 1번 학생의 국어, 영어, 수학, 과학 점수가 각각 90,95,85,80 
student1 = [90,95,85,80]
student1

[90, 95, 85, 80]

In [14]:
type(student1)

list

In [15]:
student1[0]

90

In [16]:
student1[1]

95

In [17]:
student1[-1]

80

In [18]:
student1[1] = 100 # 두 번째 항목에 새로운 데이터 할당 
student1

[90, 100, 85, 80]

In [19]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends

['James', 'Robert', 'Lisa', 'Mary']

In [20]:
myFriends[2]

'Lisa'

In [21]:
mixedList = [0, 2, 3.14, 'python', 'program', True, myFriends]
mixedList

[0, 2, 3.14, 'python', 'program', True, ['James', 'Robert', 'Lisa', 'Mary']]

### 4.3.2 리스트 다루기

#### 4.3.2.1 리스트 더하기와 곱하기

In [22]:
list_con1= [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1 + list_con2 # 리스트 연결
print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
# 곱하기
list_con1= [1,2,3,4]
list_con = list_con1 * 3 # 리스트 반복
print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

#### 4.3.2.2 리스트 중 일부 항목 가져오기

In [24]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

#### 4.3.2.3 리스트에서 항목 삭제하기

In [25]:
print(list_data)
del list_data[6]
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

#### 4.3.2.4 리스트에서 항목의 존재 여부 확인하기

In [26]:
list_data1 = [1, 2, 3, 4, 5]
print(5 in list_data1)
print(6 in list_data1)

True
False

#### 4.3.2.5 리스트 메서드 활용하기

In [27]:
# append()는 리스트의 맨 끝에 새로운 항목을 추가

myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.append('Thomas')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [28]:
# insert()

myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.insert(1,'Paul')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Robert', 'Lisa', 'Mary']

In [29]:
# extend()

myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.extend(['Laura', 'Betty'])
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']

## 4.4 튜플

### 4.4.1 튜플 만들기

In [30]:
tuple1 = (1,2,3,4)
tuple1

(1, 2, 3, 4)

In [31]:
type(tuple1)

tuple

In [32]:
tuple1[1]

2

In [33]:
tuple2 = 5,6,7,8
print(tuple2)

(5, 6, 7, 8)

In [34]:
type(tuple2)

tuple

In [35]:
tuple3 = (9,) # 반드시 쉼표(',') 필요 
tuple4 = 10, # 반드시 쉼표(',') 필요 
print(tuple3)
print(tuple4)

(9,)
(10,)

### 4.4.2 튜플 다루기

In [75]:
tuple5 = (1,2,3,4)
#tuple5[1] = 5       # 한번 생성된 튜플의 요소는 변경되지 않음

In [37]:
#del tuple5[1]       # 한번 생성된 튜플 요소는 삭제되지 않음

In [38]:
tuple6 = ('a', 'b', 'c', 'd', 'e', 'f')
tuple6.index('c')

2

In [39]:
tuple7 = ('a', 'a', 'a', 'b', 'b', 'c', 'd')
tuple7.count('a')

3

## 4.5 세트

### 4.5.1 세트 만들기

In [40]:
set1 = {1, 2, 3}
set1a = {1, 2, 3, 3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [41]:
type(set1)

set

### 4.5.2 세트의 교집합, 합집합, 차집합 구하기

In [42]:
A = {1, 2, 3, 4, 5}        # Set A
B = {4, 5, 6, 7, 8, 9, 10} # Set B
A.intersection(B)          # 집합 A에 대한 집합 B의 교집합(A∩B)

{4, 5}

In [43]:
A.union(B)      # 집합 A에 대한 집합 B의 합집합(A∪B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [44]:
A.difference(B) # 집합 A에 대한 집합 B의 차집합(A-B)

{1, 2, 3}

In [45]:
A = {1, 2, 3, 4, 5}        # Set A
B = {4, 5, 6, 7, 8, 9, 10} # Set B 
A & B                      # 집합 A에 대한 집합 B의 교집합(A∩B)

{4, 5}

In [46]:
A | B    # 집합 A에 대한 집합 B의 합집합(A∪B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [47]:
A - B    # 집합 A에 대한 집합 B의 차집합(A-B)

{1, 2, 3}

### 4.5.3 리스트, 튜플, 세트 간 타입 변환

In [48]:
a = [1,2,3,4,5]
type(a)

list

In [49]:
b = tuple(a) 
b

(1, 2, 3, 4, 5)

In [50]:
type(b)

tuple

In [51]:
c = set(a) 
c

{1, 2, 3, 4, 5}

In [52]:
type(c)

set

In [53]:
list(b)

[1, 2, 3, 4, 5]

In [54]:
list(c)

[1, 2, 3, 4, 5]

## 4.6 딕셔너리

### 4.6.1 딕셔너리 만들기

In [55]:
country_capital = {"영국":"런던", "프랑스":"파리", "스위스": "베른", "호주":"멜버른", "덴마크": "코펜하겐"}
country_capital

{'덴마크': '코펜하겐', '스위스': '베른', '영국': '런던', '프랑스': '파리', '호주': '멜버른'}

In [56]:
type(country_capital)

dict

In [57]:
country_capital["영국"]

'런던'

In [58]:
dict_data1 = {1:"버스", 3: "비행기", 4:"택시", 5: "자전거"} 
dict_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [59]:
dict_data1[3]

'비행기'

In [60]:
dict_data2 = {1:10, 2: 20, 3:30, 4: 40, 5:50}
print(dict_data2)
print(dict_data2[4])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

In [61]:
dict_data3 = {"list_data1":[11,12,13], "list_data2": [21,22,23]}
print(dict_data3)
print(dict_data3["list_data2"])

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

In [62]:
mixed_dict = {1:10, 'dict_num': {1:10, 2:20}, "dict_list_tuple": {"A":[11,12,13], "B":(21,22,23)}}

In [63]:
mixed_dict

{1: 10,
 'dict_list_tuple': {'A': [11, 12, 13], 'B': (21, 22, 23)},
 'dict_num': {1: 10, 2: 20}}

### 4.6.2 딕셔너리 다루기

#### 4.6.2.1 딕셔너리에 데이터 추가하고 변경하기

In [64]:
country_capital["독일"]= "베를린" 
country_capital

{'덴마크': '코펜하겐', '독일': '베를린', '스위스': '베른', '영국': '런던', '프랑스': '파리', '호주': '멜버른'}

In [65]:
country_capital["호주"]= "캔버라" 
country_capital

{'덴마크': '코펜하겐', '독일': '베를린', '스위스': '베른', '영국': '런던', '프랑스': '파리', '호주': '캔버라'}

#### 4.6.2.2 딕셔너리에서 데이터 삭제하기

In [66]:
del country_capital["덴마크"] 
country_capital

{'독일': '베를린', '스위스': '베른', '영국': '런던', '프랑스': '파리', '호주': '캔버라'}

#### 4.6.2.3 딕셔너리 메서드 활용하기

In [67]:
fruit_code = {"사과":101, "배":102, "딸기":103, "포도":104, "바나나":105}

In [68]:
print(fruit_code.keys())
print(fruit_code.values())
print(fruit_code.items())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])
dict_values([101, 102, 103, 104, 105])
dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [69]:
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [70]:
list(fruit_code.values())

[101, 102, 103, 104, 105]

In [71]:
list(fruit_code.items())

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

In [72]:
fruit_code2 = {"오렌지":106, "수박":107}

In [73]:
fruit_code.update(fruit_code2)
fruit_code

{'딸기': 103, '바나나': 105, '배': 102, '사과': 101, '수박': 107, '오렌지': 106, '포도': 104}

In [74]:
fruit_code2.clear()
print(fruit_code2)
type(fruit_code2)

{}

dict