## 6.1 화면 출력

### 6.1.1 기본 출력

In [1]:
print("Hello Python!!")
print("Best", "python", "book")
print("Best", "python", "book", sep = "-:*:-")

Hello Python!!
Best python book
Best-:*:-python-:*:-book

In [2]:
print("abcd" + "efg")
print("Best", "python", "book" + ":", "This book")

abcdefg
Best python book: This book

In [3]:
x = 10
print(x)

10

In [4]:
name = "James"
ID_num = 789
print("Name:", name + ",", "ID Number:", ID_num )

Name: James, ID Number: 789

In [5]:
print("James is my friend.\nHe is Korean.")

James is my friend.
He is Korean.

In [6]:
print("James is my friend.\n\nHe is Korean.")

James is my friend.

He is Korean.

In [7]:
print("Welcome to ")
print("python!")

Welcome to
python!

In [8]:
print("Welcome to ", end="")
print("python!")

Welcome to python!

### 6.1.2 형식 지정 출력

#### 6.1.2.1 나머지 연산자(%)를 이용한 형식 및 위치 지정

In [9]:
name = "광재"
print("%s는 나의 친구입니다." % name)

광재는 나의 친구입니다.

In [10]:
r = 3                                  # 변수 r에 정수 데이터 할당
PI = 3.14159265358979                  # 변수 PI에 실수 데이터 할당
print("반지름: %d, 원주율: %f" % (r, PI)) # 지정된 위치에 데이터 출력

반지름: 3, 원주율: 3.141593

#### 6.1.2.2 형식 지정 문자열에서 출력 위치 지정

In [11]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"
print("Animal: {0}".format(animal_0))
print("Animal: {0},{1},{2}".format(animal_0, animal_1, animal_2))

Animal: cat
Animal: cat,dog,fox

In [12]:
print("Animal: {1},{2},{0}".format(animal_0, animal_1, animal_2))

Animal: dog,fox,cat

In [13]:
print("Animal: {0},{2}".format(animal_0, animal_1, animal_2))

Animal: cat,fox

In [14]:
print("Animal: {}, {}, {}".format(animal_0, animal_1, animal_2))

Animal: cat, dog, fox

In [19]:
name = "Tomas"
age = 10
a = 0.1234567890123456789
fmt_string = "String: {0}  Integer Number: {1}  Floating Number: {2}"
print(fmt_string.format(name, age, a))

String: Tomas  Integer Number: 10  Floating Number: 0.12345678901234568

#### 6.1.2.3 형식 지정 문자열에서 숫자 출력 형식 지정

In [20]:
a = 0.1234567890123456789
print("{0:.2f}, {0:.5f}".format(a))

0.12, 0.12346

## 6.2 키보드 입력

In [21]:
yourName = input("당신의 이름은? ") 
print("당신은 {}이군요.".format(yourName))

당신의 이름은? seojin
당신은 seojin이군요.

In [22]:
num = input("숫자를 입력하세요: ")
print("당신이 입력한 숫자는 {}입니다.".format(num))

숫자를 입력하세요: 13
당신이 입력한 숫자는 13입니다.

In [23]:
a = input("정사각형 한 변의 길이는?: ") 
area = int(a) ** 2
print("정사각형의 넓이: {}".format(area))

정사각형 한 변의 길이는?: 5
정사각형의 넓이: 25

In [24]:
b = input("정사각형 한 변의 길이는?:") 
area = float(b) ** 2
print("정사각형의 넓이: {}".format(area))

정사각형 한 변의 길이는?:10
정사각형의 넓이: 100.0

In [25]:
c = input("정사각형 한 변의 길이는?: ") 
area = float(c) ** 2
print("정사각형의 넓이: {}".format(area))

정사각형 한 변의 길이는?: 25
정사각형의 넓이: 625.0

## 6.3 파일을 읽고 쓰기

### 6.3.1 파일 열기


*   파일에서 데이터를 읽거나 파일에 데이터를 쓰려면,<br> 우선 파이썬 내장 함수인 open()을 이용해 파일을 열어야 함
*   f = open ('filename', 'mode')
*   open() 함수는 file_name과 mode를 입력 인자로 받아서 파일을 열고<br> 파일 객체인 f를 반환 반환된 파일 객체를 이용해 파일을 읽고 쓰고 닫음
* 두 번째 인자인 모드(mode)

### 6.3.2 파일 쓰기

In [26]:
#cd C:\myPyCode

In [27]:
f = open('myFile.txt', 'w') # (1)'myFile.txt' 파일 쓰기 모드
f.write('This is my first file.') # (2) 연 파일에 문자열 쓰기 
f.close()                         # (3) 파일 닫기

In [28]:
!cat myFile.txt

This is my first file.

### 6.3.3 파일 읽기

In [29]:
f = open('myFile.txt', 'r') # (1)'myFile.txt' 파일 읽기 모드로 열기
file_text = f.read()        # (2) 파일 내용 읽은 후에 변수에 저장
f.close()                    # (3) 파일 닫기
print(file_text)            # 변수에 저장된 내용 출력

This is my first file.

## 6.4 반복문을 이용해 파일 읽고 쓰기

### 6.4.1 파일에 문자열 한 줄씩 쓰기

In [30]:
f = open('two_times_table.txt','w') # (1)파일을 쓰기 모드로 열기 
for num in range(1,6):              # (2) for문: num이 1~5까지 반복
    format_string = "2 x {0} = {1}\n".format(num,2*num) # 저장할 문자
    f.write(format_string)          # (3) 파일에 문자열 저장 
f.close()                           # (4) 파일 닫기

In [31]:
!cat two_times_table.txt

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

### 6.4.2 파일에서 문자열 한 줄씩 읽기

#### 6.4.2.1 readline()

In [32]:
f = open("two_times_table.txt") # 파일을 읽기 모드로 열기

line1 = f.readline() # 한 줄씩 문자열을 읽기
line2 = f.readline() 
f.close()            # 파일 닫기
print(line1, end="") # 한 줄씩 문자열 출력(줄 바꿈 안 함)
print(line2, end="")

2 x 1 = 2
2 x 2 = 4

In [35]:
f = open("two_times_table.txt") # 파일을 읽기 모드로 열기
line = f.readline()             # 문자열 한 줄 읽기
while line:                     # line이 공백인지 검사해서 반복 여부        
    print(line, end = "")       # 문자열 한 줄 출력(줄 바꿈 안 함)
    line = f.readline()         # 문자열 한 줄 읽기
f.close() # 파일 닫기

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

#### 6.4.2.2 readlines()

In [36]:
f = open("two_times_table.txt") # (1) 파일을 읽기 모드로 열기
lines = f.readlines() # (2) 파일 전체 읽기(리스트로 반환)
f.close() # (3) 파일 닫기

print(lines) # 리스트 변수 내용 출력

['2 x 1 = 2\n', '2 x 2 = 4\n', '2 x 3 = 6\n', '2 x 4 = 8\n', '2 x 5 = 10\n']

In [37]:
f = open("two_times_table.txt") # 파일을 읽기 모드로 열기
lines = f.readlines() # 파일 전체 읽기(리스트로 반환)
f.close() # 파일 닫기
for line in lines: # 리스트를 <반복 범위>로 지정
    print(line, end="") # 리스트 항목을 출력(줄 바꿈 안 함)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [38]:
f = open("two_times_table.txt") # 파일을 읽기 모드로 열기
for line in f.readlines():      # 파일 전체를 읽고, 리스트 항목을 lin
    print(line, end="")         # 리스트 항목을 출력(줄 바꿈 안 함) 
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [39]:
f = open("two_times_table.txt") # 파일을 읽기 모드로 열기
for line in f:                  # 파일 전체를 읽고, 리스트 항목을 line
    print(line, end="")         # line의 내용 출력(줄 바꿈 안 함)
f.close() # 파일 닫기

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

## 6.5 with 문을 활용해 파일 읽고 쓰기

### 6.5.1 with 문의 구조

In [40]:
f = open('myTextFile.txt', 'w') # (1) 파일 열기 
f.write('File write/read test.') # (2) 파일 쓰기 
f.close() # (3) 파일 닫기

In [41]:
f = open('myTextFile.txt', 'r') # (1) 파일 열기 
test = f.read() # (2) 파일 읽기 
f.close() # (3) 파일 닫기
print(test)

File write/read test.

### 6.5.2 with문의 활용

In [42]:
with open('myTextFile2.txt', 'w') as f: # (1) 파일 열기 
    f.write('File read/write test2: line1\n') # (2) 파일 쓰기 
    f.write('File read/write test2: line2\n')
    f.write('File read/write test2: line3\n')

In [43]:
with open('myTextFile2.txt') as f: # (1) 파일 열기 
    file_string = f.read() # (2) 파일 읽기 
    print(file_string)

File read/write test2: line1
File read/write test2: line2
File read/write test2: line3

In [44]:
with open('myTextFile3.txt', 'w') as f: # 파일을 쓰기 모드로 열기 
    for num in range(1,6): # for문에서 num이 1~5까지 반복
        format_string = "3 x {0} = {1}\n".format(num,3*num) # 문자열 
        f.write(format_string) # 파일에 문자열 쓰기

In [45]:
with open('myTextFile3.txt', 'r') as f: # 파일을 읽기 모드로 열기 
    for line in f: # 파일 전체를 읽고 리스트 항목을 line에
        print(line, end="") # line에 할당된 문자열 출력(줄 바꿈 안함)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15